@font-face{
	font-family:"Gotham-Bold";
    src: url("../font/Gotham-Bold.eot");
    src: url('../font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Bold.woff') format('woff'),
         url('../font/Gotham-Bold.ttf')  format('truetype');
}
@font-face{
	font-family:"Gotham-Light";
    src: url("../font/Gotham-Light.eot");
    src: url('../font/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Light.woff') format('woff'),
         url('../font/Gotham-Light.ttf')  format('truetype');
}
@font-face{
	font-family:"Gotham-Book";
    src: url("../font/Gotham-Book.eot");
    src: url('../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Book.woff') format('woff'),
         url('../font/Gotham-Book.ttf')  format('truetype');
}
@font-face{
	font-family:"Bebas-Bold";
    src: url("../font/Bebas-Bold.eot");
    src: url('../font/Bebas-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Bebas-Bold.woff') format('woff'),
         url('../font/Bebas-Bold.ttf')  format('truetype');
}
body, html{
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Gotham-Bold";
}
body{
	/*background: linear-gradient(150deg, #dddca6, #FFFFFF);*/
	background-color: #FFFFFF;
	overflow-x: hidden;
	overflow-y: hidden;
}
.load{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 60;
}
.intro{
	z-index: 50;
	font-family: "Bebas-Bold";
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #FFFFFF;
	position: fixed;
	color: #d9d8d7;
	text-align: center;
}
#intro1{
	margin-top: -100px;
	text-align: center;
	width: 95%;
    position: absolute;
    font-weight: 800;
    line-height: 0px;
    z-index: 2;
}
.down{
	margin-top: 100px;
	width: 100%;
	z-index: 1;
    position: absolute;
    cursor: pointer;
    transition:opacity 0.5s;
    z-index: 2;
}
.down:hover{
	opacity: 0.7;
}
.down img{
	width: 70px;
}
#down2{
	display: none;
}
.spinner {
  width: 80px;
  height: 80px;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
#text-a{
	line-height: 2.5px;
	margin: 0px;
	font-size: 2.5em;
}
.slider1{
	color: #00d688;
	opacity: 0.5;
	padding: 10px;
	line-height: 0px;
	font-size: 4em;
	text-align: center;
}
.slider1 div p{
	margin: 50px auto;
}
#text-b{
	color: #FFFFFF;
	font-size: 5em;
	line-height: 1.5em;
	margin: 0px;
}
.contenedor{
	width: 100%;
	min-height: 100%;
	overflow: hidden;

}
.intro2{
	z-index: 49;
	font-family: "Bebas-Bold";
	width: 100%;
	height: 100%;
	margin: 0px;
	background: linear-gradient(10deg, #259eb0, #00d688);
	position: fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.contenedor h2{
	text-align: center;
	padding: 1em;
	margin: 0px;
	font-size: 2.5em;
	padding: 0px;
	line-height: 1.6em;
}
#alan{
	margin-top:0px;
	width: 100%;
	max-width: 900px;
	position: fixed;
	z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-style: flat;
}
#alan img{
	width: 100%;
	position: relative;
	z-index: 3;
}
#slider{
	position: absolute;
	z-index:4;
    bottom: 70%;
    right: 31%;
   /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
    max-width: 65%;
}
@media only screen and (max-width: 800px){
	#slider{right: 28%}
}
#texto_slider{
	left: 0px;
	font-family: "Gotham-Bold";
	font-size: 1.3em;
	color: #00d688;
	text-align: center;
    padding: 10px;
    max-width: 400px;
    background-color: #ffffff;
    border: solid 3px #00d688;
}
#color_left{
	position: fixed;
	z-index: 2;
	left: 0px;
	top: 0px;
	width: 50%;
}
#color_left img{
	width: 100%;
}
#color_right{
	position: fixed;
	z-index: 1;
	right: 0px;
	bottom: 0px;
	width: 50%;
}
#color_right img{
	width: 100%;
}
#btn_top{
	position: fixed;
	z-index: 46;
	right: 20px;
	bottom: 20px;
	width: 40px;
	cursor: pointer;
	display: none;
}
#btn_top img{
	width: 100%;
	transform : rotate(180deg);
	-moz-transform : rotate(180deg); /* Firefox */
	-webkit-transform : rotate(180deg); /* Chrome - Safari */
	-o-transform : rotate(180deg); /* Opera */
}
#menu{
	position: absolute;
	z-index: 4;
	bottom: 0px;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 1px solid #999999;
	font-family: "Gotham-Bold";
}
#menu_contenedor{
	display: block;
}
@media only screen and (max-width: 900px) {
	#menu_contenedor{display: none}
}
#menu ul{
	align-items:center;
	list-style: none;
	display: flex;
	width: 100%;
	margin: 0px 0px 0px -40px;
}
#menu ul li{
	display: inline;
	flex:1 0 18%;
	justify-content: flex-end;
	padding: 1%;
	text-align: center;


}

#menu ul li:hover a{
	color: #07d39a;
}
#menu ul li a{
	color: #282828;
	text-decoration: none;
	-webkit-transition: color 1s;
	transition: color 1s;
	-moz-transition: 1s color;
	-ms-transition: 1s color;
}
#menu_fixed{
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	font-weight: bold;
	display: none;
	background-color:#282828;
}
@media only screen and (max-width: 900px){
	#menu_fixed{display: none;}
}
#menu_fixed{
	display: none;
	width: 100%;
	margin: 0px;
	height: 40px;
}
#menu_fixed h1{
	width:19%;
	float: left;
	margin:0.5%;
	text-indent:-99999px;
  	height: 75%;
  	background: url("../images/logo.png");
  	background-size: contain;
  	background-position: center;
  	display: block;
  	background-repeat: no-repeat;
  	padding: 0px;
}
#menu_fixed h1 a{
	width: 100%;
}
#menu_fixed ul{
	list-style: none;
	display: flex;
	align-items:center;
	justify-content:flex-end;
	width: 80%;
	height: 100%;
	margin: 0px 0px 0px -40px;
	right: 0px;
	float: right;
}
#menu_fixed ul li{
	display: inline;
	flex:1 1 10%;
	padding: 0px;
	text-align: center;
	font-size: 1em;
	height:20px;
	margin: 10px auto;
}
#menu_fixed ul li:hover a{
	color:#07d39a;
}
#menu_fixed ul li a{
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 1s;
}
#menu_mobile{
	display: none;
	width: 100%;
	position: fixed;
	height: 35px;
	background-color: #FFFFFF;
	padding: 3px;
	z-index: 48;
	-webkit-box-shadow: 2px 0px 25px -2px rgba(102,102,102,.5);
	-moz-box-shadow: 2px 0px 25px -2px rgba(102,102,102,.5);
	box-shadow: 2px 0px 25px -2px rgba(102,102,102,.5);
}
@media only screen and (max-width: 900px){
	#menu_mobile{display: block;}
}
#logo_menu{
	width:150px;
	position: relative;
	margin: 0px auto;
}
#logo_menu img{
	width: 100%;
	margin-left: 2px;
}
#hamburger{
	left: 20px;
	width:40px;
	position: absolute;
	top: 4px;
	cursor: pointer;
}
#hamburger img{
	width: 100%;
}
#list_mobile{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 47;
	margin-left: -100%;
}
#list_full{
	width: 90%;
	max-width: 240px;
	height: 100%;
	background-color: #FFFFFF;
	position: absolute;
	-webkit-box-shadow: 2px 0px 25px -2px rgba(102,102,102,.3);
	-moz-box-shadow: 2px 0px 25px -2px rgba(102,102,102,.3);
	box-shadow: 2px 0px 25px -2px rgba(102,102,102,.3);
	max-width:370px;
}
#list_full ul{
	list-style: none;
	font-size: 1.2em;
	margin:60px 0px 0px -10px;
	height: calc(100% - 60px);
}
#list_full li{
	height:10%;
	padding: 5% 0px;
	line-height: 1.5em;
	vertical-align: middle;
}
#list_full a{
	text-decoration: none;
	color:#00d688;
}
#sobre_mi{
	background: url("../images/back-sobre.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 4;
	padding: 0px;
}
@media only screen and (min-width : 320px) and (max-width : 1100px) {
	#sobre_mi{background: url('../images/back-mobile.jpg') repeat; background-size: cover;}
}
#fondo_sobre{
	height: 100%;
	padding-top: 100px;
	background-color: rgba(255,255,255, .7)
}
#leyenda{
	font-family: "Gotham-Book";
	margin:0px auto;
	text-align: center;
	font-size: 1em;
	margin-bottom: 100px;
}
#leyenda span{
	color: #259eb0;
}
.perfil{
	margin-top: 50px;
	width: 100%;
	display: flex;
	padding:0px;
	flex-wrap:wrap;
}
#perfil_imagen{
	flex:0 1 50%;
	max-width: 150px;
	border-radius: 50%;
	margin: 0px auto;
	position: relative;
	z-index: 2;
	margin-top: -100px;
}
#perfil_imagen img{
	border-radius: 50%;
	width: 100%;
	margin: 0px auto;
}
#perfil_texto{
	background-color: #FFFFFF;
	font-size: 0.85em;
	font-family: "Gotham-Book";
	line-height: 2em;
	font-weight: 800;
	text-align: justify;
	flex:0 1 90%;
	max-width: 700px;
	padding: 50px 4% 2% 4%;
	margin:20px auto;
	/*background-color: #FFFFFF;*/
	position: relative;
	z-index: 1;
}
#perfil_texto span{
	color: #259eb0;
}

#contenedor{
	width: 95%;
	padding: 0px;
	min-height: 100%;
	margin: 50px auto;
}
#perfil_aptitudes{
	flex:1 1 90%;
	padding: 2%;
	font-weight: bold;
	margin: 20px auto;
	max-width: 700px;
}
#aptitudes{
	width: 100%;
	}
#barra{
	width: 100%;
	margin-bottom:20px;
}
#borde_barra{
	width: 98.6%;
	height: 20px;
	border: 3px solid #259eb0;
	padding: 0.7%;
}
#contenido_barra{
	height: 100%;
	background: linear-gradient(150deg, #259eb0, #00d688);
}
.html5{
	width: 0%;
}
.html6{
	width: 0%;
}
.css3{
	width: 2%;
}
.javascript{
	width:4%;
}
.jquery{
	width: 2%;
}
.php{
	width:1%;
}
#porcentaje_barra{
	height: 50%;
}
#servicios{
	width: 95%;
	min-height: 100%;
	position: relative;
	z-index: 4;
	background:	linear-gradient(135deg, #00d68b, #22a3ae);
	background-attachment: fixed;
	color: #FFFFFF;
	padding: 100px 2.5%;
}
#contenedor_servicios{
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	overflow: hidden;
	opacity: 0;
}
#servicio{
	position: relative;
	flex:1 1 20%;
	padding:20px 2.5%;
	margin: 30px;
	border:2.5px #FFFFFF solid;
	text-align: center;
}
@media only screen and (max-width: 900px){
	#servicio{flex:1 1 50%;}
}
#servicio h2{
	font-size: 1.4em;
	font-family: "Gotham-Book";
}
#servicio p{
	font-size: 1.2em;
	font-family: "Gotham-Light";
}
#servicio img{
	max-width: 80px;
}
#fondo_servicios{
	padding: 0px;
}
#portafolio{
	width: 100%;
	min-height: 100%;
	padding-top: 100px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 4;
	color: #282828;
}
#portafolio h2{
	color: #282828;
}
#portafolio p{
	text-align: center;
	font-family: "Gotham-Book";
}
#submenu_contenedor{
	width: 90%;
	margin:0px auto;
	max-width: 500px;
	text-align: center;
	border: #282828 solid 3px;
	padding: 1%;
}
#submenu{
	width: 80%;
	display: inline;
	list-style: none;
	text-align: center;
	margin-left: -40px;
}
#submenu li{
	display: inline;
	line-height: 2em;
	cursor: pointer;
	-webkit-transition: color 1s;
}
#submenu li:hover{
	color: #07d39a;
}
.submenu{
	color: #07d39a;
}
#contenedor_collage{
	margin: 50px auto;
}
#collage{
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#pics{
	flex:1 1 18%;
	margin: 1%;
	-webkit-transition: margin 1s;
	cursor: pointer;
	position: relative;
}
@media only screen and (max-width: 1000px){
	#pics{flex:1 1 30%; margin:5%;}
}
@media only screen and (max-width: 700px){
	#pics{flex:0 1 80%;}
}
#titulos{
	max-width: 100%;
	position: absolute;
	z-index: 2;
}
#pics img{
	width: 100%;
	margin: 0px auto;
	position: relative;
	z-index: 1;
}
.none{
	opacity: 0;
}
@media only screen and (max-width: 420px){
	.none{display: none; opacity: 1;}
}
.carta-container {
	width: 100%;
	-webkit-perspective: 800;
	-moz-perspective: 800;
	perspective: 800;
}
@media only screen and (max-width: 420px){
	.carta-container{display: none; opacity: 1;}
}
.carta {
	/*box-shadow: 0px 0px 5px black;*/
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s;
    -moz-transform-style: preserve-3d;
	-moz-transition: all 0.5s;
    transform-style: preserve-3d;
	transition: all 0.5s;
}
.carta .lado{
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.carta .frente{
	height: 100%;
	width: 100%;
}
.carta .atras{
	width: 100%;
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#contacto{
	position: relative;
	z-index: 3;
	background-color: #282828;
	padding: 50px 0%;
	color: #C7C7C7;
	background-image: url("../images/contacto.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}
#contacto h2{
	color: #C7C7C7;
	text-align: center;
	margin-top: 50px;
}
#contenedor_contacto{
	width: 95%;
	margin: 15px auto;
	position: relative;
	z-index: 50;
}
#contenedor_informacion{
	width: 90%;
	max-width: 900px;
	margin: 0px auto;
	line-height: 1.5em;
	padding: 0px;
	font-family: "Gotham-Light";
	text-align: center;
}
#contenedor_informacion a{
	text-decoration: none;
	font-weight: bolder;
	color: #C7C7C7;
}

#contenedor_formulario{
	border: #C7C7C7 3px solid;
	padding: 2%;
	width: 90%;
	max-width: 900px;
	margin: 0px auto;
}

.formulario_contacto{
	font-family: "Gotham-Light";
}
.formulario_contacto input[type=text], input[type=email], input[type=tel]{
	width: 94%;
	margin: 1%;
	height: 30px;
	background-color: rgba(40,40,40,.93);
	background: rgba(40,40,40,.93);
	color: rgba(40,40,40,.93);
	border: 2px #C7C7C7 solid;
	color: #C7C7C7;
	padding: 1%;
	font-family: "Gotham-Bold";
}
@media only screen and (max-width: 700px){
	.formulario_contacto{font-size:1em;}
}
.formulario_contacto input[type=submit]{
	width: 97%;
	padding: 0px;
	margin: 1%;
	height: 40px;
	background-color: #282828;
	border: 2px #C7C7C7 solid;
	color: #C7C7C7;
	font-family: "Gotham-Bold";
	background-color: rgba(40,40,40, 0);
	cursor: pointer;
}
@media only screen and (max-width: 700px){
	.formulario_contacto input{font-size:1em;}
}
.formulario_contacto textarea{
	width: 94%;
	padding: 0%;
	margin: 1%;
	min-height: 100px;
	background-color: #282828;
	border: 2px #C7C7C7 solid;
	color: #C7C7C7;
	font-family: "Gotham-Bold";
	padding: 1%;
	background-color: rgba(40,40,40, 0);
}
@media only screen and (max-width: 700px){
	.formulario_contacto textarea{font-size:1em;}
}
.formulario_contacto label{
	visibility: hidden;
}
#pie{
	font-family: "Gotham-Light";
	font-size: 0.8em;
	top: 20px;
	text-align: center;
	position: relative;
}
#contenedor_result{
	width: 90%;
	height: 90%;
	padding: 5%;
	position: fixed;
	background-color: rgba(40,40,40,.93);
	background: rgba(40,40,40,.93);
	color: rgba(40,40,40,.93);
	z-index: 100;
	display: none;
}
#result{
	font-size: 1.2em;
	text-align: center;
	width: 90%;
	max-width: 500px;
	padding: 5%;
	border: 3px solid #C7C7C7;
	position: relative;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-style: flat;
    color: #FFFFFF;
    font-family: "Gotham-Light";
}